
<form action="/admin/clientes/novo" method="POST">
    <div class="needs-validation card-body alert-secondary w-75 mx-auto">
        <h4 class="mx-auto">Cadastrar novo Cliente:</h4>
        <div class="form-group alert border border-dark">
            <h5>Dados Pessoais</h5>
            <label for="nome">Nome do Cliente</label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome do Cliente" onkeyup="setCustomValidity('')" required oninvalid="this.setCustomValidity('Informe o nome do cliente!!')">
            <label for="telefone">Telefone</label>
            <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone" onkeyup="setCustomValidity('')" required oninvalid="this.setCustomValidity('Informe o telefone do cliente!!')">
            <label for="email">E-mail</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="E-mail" required onkeyup="setCustomValidity('')" oninvalid="this.setCustomValidity('Informe o e-mail do cliente!!')">
            <label for="cpf">CPF</label>
            <input type="text" class="form-control" id="cpf" name="cpf" placeholder="CPF" required onkeyup="setCustomValidity('')" oninvalid="this.setCustomValidity('Informe o CPF do cliente!!')"> 
        </div>
        <div class="form-group alert border border-dark">
            <h5>Endereço</h5>
            <label for="cidade">Cidade</label>
            <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Cidade" required onkeyup="setCustomValidity('')" oninvalid="this.setCustomValidity('Informe a cidade do cliente!!')">
            <label for="estado">Estado</label>
            <input type="text" class="form-control" id="estado" name="estado" placeholder="Estado" required onkeyup="setCustomValidity('')" oninvalid="this.setCustomValidity('Informe o estado do cliente!!')">
            <label for="cep">CEP</label>
            <input type="text" class="form-control" id="cep" name="cep" placeholder="CEP" required onkeyup="setCustomValidity('')" oninvalid="this.setCustomValidity('Informe o CEP do cliente!!')">
            <label for="rua">Rua</label>
            <input type="text" class="form-control" id="rua" name="rua" placeholder="Rua" required onkeyup="setCustomValidity('')" oninvalid="this.setCustomValidity('Informe a rua do cliente!!')">
            <label for="bairro">Bairro</label>
            <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Bairro" required onkeyup="setCustomValidity('')" oninvalid="this.setCustomValidity('Informe o bairro do cliente!!')">
            <label for="numero">Numero</label>
            <input type="text" class="form-control" id="numero" name="numero" placeholder="Numero" required onkeyup="setCustomValidity('')" oninvalid="this.setCustomValidity('Informe o numero da casa do cliente!!')">
        </div>
        <button type="submit" class="btn btn-success" style="width: 150px;">Cadastrar Cliente</button>
        <a href="/admin/clientes"><button type="button" class="btn btn-danger"
                style="width: 150px;">Cancelar</button></a>
    </div>
</form>

